@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Lato&family=Nunito&family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lato', sans-serif;
    background-color: #D28782;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: white;
    margin: 10px;
}

.active{

    color: crimson;

}

.active{

    color: crimson;

}



/* CENTRAL BOARD */
#newGameButton, #rollDice, #hold {
    text-transform: uppercase;
    font-size: 1.5rem;

}

.rollDice {
    margin-top: 500px;
}



img {
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px 15px 1px rgba(128, 128, 128, 0.178);
}

.emptySpace {
    height: 200px;
    width: 200px;

}

.shake {
    animation: shake 0.5s;
    animation-iteration-count: 2;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
    
}
/* PLAYERS */
.name {
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 250px;
}
#globalScore-0, #globalScore-1{
    font-size: 3rem;
    color: rgba(78, 23, 23, 0.589);
    margin-bottom: 500px;
    
}

.circle {
    width: 20px;
    height: 20px;
    background-color: #D28782;
    float: right;
    border-radius: 50%;
    margin: 30 0 0 20;
}
.currentBox {
    background-color: #D28782;
    width: 200px;
    height: 100px;
    border-radius: 4px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#roundScore-1, #roundScore-0 {
    

} 
