@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Lato&family=Nunito&family=Poppins&display=swap');

body {
    height: 100vh;
    max-width: 1440px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color: blanchedalmond;
}

.row {
    background-color: white;
    box-shadow: 1px 1px 20px 1px rgba(185, 185, 185, 0.822);

}

.active {
    color: red;
}

.winner {
    font-weight: 900;
    color: green;
}

/* PLAYER 1 */


.playerOne .name {
    font-size: 3rem;
    text-transform: uppercase;

}


.currentBox {
    width: auto;
    padding: 20px;
    font-size: 3rem;
    box-shadow: 1px 1px 20px 1px rgba(155, 155, 155, 0.548);
    border-radius: 4px;
    background-color: blanchedalmond;
}

#globalScore-0 {
    font-size: 4rem;
    color: rgba(87, 87, 87, 0.616);

}


/* centralBoard */

.centralBoard {
    font-size: 2rem;
}

img {
    width: 200px;
    height: 200px;
}

.title {
    font-size: 3rem;
    font-style: oblique;
    display: flex;
}


/* DICE */

.emptySpace {
    height: 200px;
    width: 200px;

}

/* Animation dice shaking */

.shake {
    animation: shake 0.5s;
    animation-iteration-count: 2;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }

}


/* PLAYER 2 */


.playerTwo .name {
    font-size: 3rem;
    text-transform: uppercase;

}

#globalScore-1 {
    font-size: 4rem;
    color: rgba(87, 87, 87, 0.616);

}




/* MEDIA QUERIES */

@media (max-width: 768px) {

    .playerOne .name,
    .playerTwo .name {
        font-size: 1rem;
        text-transform: uppercase;


    }

    .currentBox {

        font-size: 0.5rem;
        font-size: 1rem;
        box-shadow: 1px 1px 20px 1px rgba(155, 155, 155, 0.548);
        border-radius: 4px;
        background-color: blanchedalmond;
    }

    #globalScore-1,
    #globalScore-0 {
        font-size: 2rem;
        color: rgba(87, 87, 87, 0.616);


    }

    .title {
        font-size: 2rem;
    }

    .logo {
        display: none;
    }

    #newGameButton {
        font-size: 1rem;
        margin-top: 1rem;

    }

    .dice img {
        width: 100px;
        height: 100px;
    }

    #rollDice {
        font-size: 1rem;
    }

    #hold {
        font-size: 1rem;
    }

}
